body{
    background-color: rgb(233, 233, 233);
    background-size: cover;
}
.container{
    background-color: rgba(90, 90, 77, 0.603);
}

.LoginHeader{
    text-align: center;
   
}
.LoginHeader h1{
    font-size: 60px;
    margin: 0px;
    
    
}
.LoginHeader h2{
    font-size: 50px;
    color: azure;
    margin: 0px;
    
}

.LoginHeader h2:after{
    content:'';
    display: block;
    height: 5px;
    background: black;
    width:50%;
    margin: auto;
}


.Loginbody form{
    margin: auto;
    width: 500px;
    padding-top: 50px;
    background-color: rgba(8, 8, 8, 0.315);
    padding: 50px;
    border: 2px solid;
    border-radius: 5px;
    

}
.Loginbody{
    padding-top: 50px;
    padding-bottom: 50px;
}

.containerbutton{
    margin: 20px;
}

.containerbutton label{
    display: block;
}
.loginbutton{
    padding:10px 20px;
    text-align: justify;

    
    
    
}
.loginbutton button{
    padding: 5px 5px;
    
}